body{
    font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.banner-name{
    font-size: 32px;
    font-weight: 800;
}

.banner-description{
    font-size: 13px;
    font-weight: 400;
    margin: 20px auto;
}
.banner-img{
    padding: 10px auto;
    margin: 10px auto;
}
nav button a{
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 8px;
    border: 18px;
    border-radius: 8px;
}
nav button{
    background-color: #000;
}
header div{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
header{
    background-image: url(../stlyle/assets/Hero-bg.png);
    max-width: auto;
    height: 600px;
    background-position: center;
    background-size: cover;
    margin: 50px 0;
    border: 16px;
}
main{
    width: 70%;
    margin: 0 auto;
    
}
#dev-1{
    padding: 48px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.section-title{
    text-align: center;
}
.items-1{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.i-1{
    max-width: 500px;
   height: 152px;
    padding: 0 28px;
}
div p{
    font-size: 12px;
    font-weight: 400;
}
button{
    padding: 10px 12px;
    margin: 19px 0;
}
button a{
    text-decoration: none;
    color: #000;
}
.items-2{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.i-2{
    max-width: 500px;
    height: 162px;
    padding: 0 28px;
}
.items-3{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.i-3{
    max-width: 500px;
    height: 162px;
    padding: 0 28px;
}
.dev-2{
    background-color: white;
    width: 70%;
    margin:38px auto;
    text-align: center;
}

.Inspiration{
    font-size: 12px;
    font-weight: 400;
    margin: 20px auto;
}
.video{
    padding: 20px;
    margin: 28px 0;
    border: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
div iframe{
    border-radius: 15px;
}
.skills{
    background-color: white;
    width: 70%;
    margin:38px auto;

}
.skills-des{
    margin: 8px auto;
    text-align: center;
    width: 70%; 

}

.skills-items{
    display: flex;
    
}
.skills-1{
    background-color: rgba(255, 76, 30, 0.05);
    padding: 20px;
    border: 10px;
    margin: 32px 10px;
}
.skills-2{
    background-color: rgba(0, 76, 232, 0.05);
    padding: 20px;
    border: 10px;
    border-radius: 10px;
    margin: 32px 10px;

}
.skills-3{
    padding: 20px;
    border: 10px;
    border-radius: 10px;
    margin: 32px 10px;
    background: rgba(255, 223, 0, 0.05);
}
div a{
    color: #000;
}
.dev-3{
    background-image: url(../stlyle/assets/handshake.jpg);
    padding: 50px;
    height: 150px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    text-align: center;
    color: white;
    border-radius: 16px;
}
form input{
    padding: 10px;
    width: 300px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
}
footer{
    background-color: rgba(13, 19, 33, 0.03) ;
    width: 70%;
    margin:38px auto;
    display: flex;
    justify-content: space-between;
}
