body{
    font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}
.banner-name{
    font-size: 32px;
    font-weight: 800;
    /* padding: 10px 0; */
}

.banner-description{
    font-size: 13px;
    font-weight: 400;
    margin: 20px auto;
}
.banner-img{
    padding: 10px auto;
    margin: 10px auto;
}
.btn-primary{
    background-color: rgb(13, 19, 33);
    color: white;
    font-size: 14px;
    font-weight: 600;
    padding: 14px 24px;
    margin: 14.4px;
    border: 12px;
    border-radius: 5px;
}
header div{
    width: 70%;
    margin: 0 auto;
    text-align: center;
}
header{
    background-image: url(../stlyle/assets/Hero-bg.png);
    max-width: auto;
    height: 600px;
    background-position: center;
    margin: 50px 0;
}
main{
    width: 70%;
    margin: 0 auto;
    
}
#dev-1{
    padding: 48px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}
.section-title{
    text-align: center;
}
.items-1{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.i-1{
    max-width: 500px;
   height: 152px;
    padding: 0 28px;
}
div p{
    font-size: 12px;
    font-weight: 400;
    /* margin: 20px auto; */
}
button{
    padding: 10px 12px;
    margin: 19px 0;
}
button a{
    text-decoration: none;
    color: #000;
}
.items-2{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.i-2{
    max-width: 500px;
    height: 162px;
    padding: 0 28px;
}
.items-3{
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.i-3{
    max-width: 500px;
    height: 162px;
    padding: 0 28px;
}
.dev-2{
    background-color: white;
    width: 70%;
    margin:38px auto;
    text-align: center;
}

#Inspiration{
    font-size: 12px;
    font-weight: 400;
    margin: 20px auto;
}
.video{
    padding: 20px;
    margin: 28px 0;
    border: 10px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}
div iframe{
    border-radius: 15px;
}

